<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gohoyer.encryptor</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>196F4588-F562-4C89-B543-0620A9C792F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B45F4C2-F866-4D48-80D7-E9EB551C7BF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AF116FB-FB90-405D-BE12-420D312A576E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1699FA8-9192-4C09-8BF5-3E05B774A9EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B45F4C2-F866-4D48-80D7-E9EB551C7BF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF68986E-FCFC-4896-9F67-529BC8D5CAAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B8C52ED-819B-461A-9DD7-ED6CF2645CF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2A02B52-49FD-421E-BB03-3D00593A2B75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DB6F597-B969-44F3-BE60-CD2A6DC973B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F904868E-CEC6-4D10-A808-F4CC691411E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>433CB526-5AF7-4008-A9D8-8FC70ACCE843</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A56B0CF-E3A7-4238-BE80-03A263900424</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>510326B8-60F9-42C7-BFAF-D8F0A0B738F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF98C4E9-F438-4BE3-A6BD-96AB3C2E46F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A56B0CF-E3A7-4238-BE80-03A263900424</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9E31560-B1E3-4C4A-B02D-998251F63D83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71839266-D285-4ECA-9A84-65FA8AB8EFFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76A6C44C-53D5-4A2D-8EC9-9A4F8146EE9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76A6C44C-53D5-4A2D-8EC9-9A4F8146EE9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>196F4588-F562-4C89-B543-0620A9C792F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81B0C5FA-0BE5-41CE-8556-A61D58ED18CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AF116FB-FB90-405D-BE12-420D312A576E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>893E5852-FB0F-4B76-A49E-5386547FDB2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>784D1DF4-C2F4-42E2-965F-203E9410588B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A4734E0D-D61A-44BB-B660-3E6CC99E1F28</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DA74240-FE70-4357-9A24-6B3D1468B41C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98B6046A-63A5-43EE-85E9-876BD832E54E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B8C52ED-819B-461A-9DD7-ED6CF2645CF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FF3581F-6990-44B2-8346-216590962F66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D97384AA-AF89-4E02-ADB2-9395A8019ABC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1699FA8-9192-4C09-8BF5-3E05B774A9EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>433CB526-5AF7-4008-A9D8-8FC70ACCE843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B444A4FF-D758-4969-AB76-213C36379FDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DB6F597-B969-44F3-BE60-CD2A6DC973B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9E31560-B1E3-4C4A-B02D-998251F63D83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>893E5852-FB0F-4B76-A49E-5386547FDB2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2A02B52-49FD-421E-BB03-3D00593A2B75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71839266-D285-4ECA-9A84-65FA8AB8EFFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D97384AA-AF89-4E02-ADB2-9395A8019ABC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98B6046A-63A5-43EE-85E9-876BD832E54E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF68986E-FCFC-4896-9F67-529BC8D5CAAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B444A4FF-D758-4969-AB76-213C36379FDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF98C4E9-F438-4BE3-A6BD-96AB3C2E46F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81B0C5FA-0BE5-41CE-8556-A61D58ED18CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>GoHoyer</string>
	<key>description</key>
	<string>Encrypt files and folders with AES256</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Encryptor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Select where the encrypted file should be saved</string>
				<key>title</key>
				<string>Destination Folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>D2A02B52-49FD-421E-BB03-3D00593A2B75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Defines the name for a temporary tar file grouping all selected files and folders
tar_file="/tmp/encryptor_$(date +"%F_%H-%M_%S").tar"

# Creates a tar file containing all selected files and folders
for file in $files_to_encrypt; do
  if [ -f "${tar_file}" ]; then
    # Append
    mode="r"
  else
    # Create
    mode="c"
  fi
  tar -"$mode"vf "${tar_file}" -C  "$(dirname "${file}")" "$(basename "${file}")"
done

# Creates the encrypted file
openssl enc -aes-256-cbc -salt -in "${tar_file}" -k "${encryption_password}" -out "${destination_folder}/${file_name}"

# Removes the temporary tar file
rm -f "${tar_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B444A4FF-D758-4969-AB76-213C36379FDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set encryption_password to (text returned of (display dialog "Enter a password to protect the files" default answer "" with title "Remember this password to decrypt your files" with hidden answer))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76A6C44C-53D5-4A2D-8EC9-9A4F8146EE9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file_name="encryptor_$(date +"%F_%H-%M_%S").enc"

echo -n $file_name</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B45F4C2-F866-4D48-80D7-E9EB551C7BF8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<true/>
				<key>clearbuffer</key>
				<false/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>98B6046A-63A5-43EE-85E9-876BD832E54E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>enc</string>
				<key>subtext</key>
				<string>Encrypt files with AES-256</string>
				<key>text</key>
				<string>Encryptor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FF3581F-6990-44B2-8346-216590962F66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:destination_folder}/{var:file_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>F904868E-CEC6-4D10-A808-F4CC691411E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<true/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>1DB6F597-B969-44F3-BE60-CD2A6DC973B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>The selected file and the file buffer will be encrypted</string>
				<key>title</key>
				<string>Select files or folders to encrypt</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>D97384AA-AF89-4E02-ADB2-9395A8019ABC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>destination_folder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>71839266-D285-4ECA-9A84-65FA8AB8EFFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>file_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EF68986E-FCFC-4896-9F67-529BC8D5CAAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>encryption_password</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>196F4588-F562-4C89-B543-0620A9C792F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>files_to_encrypt</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1B8C52ED-819B-461A-9DD7-ED6CF2645CF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please make sure you informed the correct password to decrypt {var:file_to_decrypt}</string>
				<key>title</key>
				<string>Error while trying to decrypt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>784D1DF4-C2F4-42E2-965F-203E9410588B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dec</string>
				<key>subtext</key>
				<string>Decrypt files encrypted with this workflow</string>
				<key>text</key>
				<string>Decryptor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>510326B8-60F9-42C7-BFAF-D8F0A0B738F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>The selected file will be decrypted</string>
				<key>title</key>
				<string>Select files to decrypt</string>
				<key>types</key>
				<array>
					<string>dyn.ah62d4rv4ge80n5xd</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FF98C4E9-F438-4BE3-A6BD-96AB3C2E46F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>err_report() {
    echo -n "ERROR"
    rm -f "${tar_file}"
	exit 1
}

trap 'err_report $LINENO' ERR


# Defines the name for a temporary tar file grouping all selected files and folders
tar_file="/tmp/encryptor_$(date +"%F_%H-%M_%S").tar"

# Decrypt to the tar file
openssl enc -d -aes-256-cbc -in "${file_to_decrypt}" -k "${decryption_password}" -out "$tar_file"

# Extract the tar contents to the destination
tar -xvf "$tar_file" -C "${destination_folder}"

# Removes the temporary tar file
rm -f "${tar_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9E31560-B1E3-4C4A-B02D-998251F63D83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Select where the decrypted files should be saved</string>
				<key>title</key>
				<string>Destination Folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>1AF116FB-FB90-405D-BE12-420D312A576E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set decryption_password to (text returned of (display dialog "Enter the password" default answer "" with title "Password used to encrypt the file" with hidden answer))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>433CB526-5AF7-4008-A9D8-8FC70ACCE843</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ERROR</string>
						<key>outputlabel</key>
						<string>Error</string>
						<key>uid</key>
						<string>A4734E0D-D61A-44BB-B660-3E6CC99E1F28</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>OK</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>893E5852-FB0F-4B76-A49E-5386547FDB2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>destination_folder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A1699FA8-9192-4C09-8BF5-3E05B774A9EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>file_to_decrypt</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81B0C5FA-0BE5-41CE-8556-A61D58ED18CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>decryption_password</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5A56B0CF-E3A7-4238-BE80-03A263900424</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:destination_folder}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>6DA74240-FE70-4357-9A24-6B3D1468B41C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Check the README on https://github.com/gohoyer/Alfred-Encryptor</string>
	<key>uidata</key>
	<dict>
		<key>196F4588-F562-4C89-B543-0620A9C792F4</key>
		<dict>
			<key>note</key>
			<string>clear previous output</string>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>1AF116FB-FB90-405D-BE12-420D312A576E</key>
		<dict>
			<key>note</key>
			<string>Destination</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>1B45F4C2-F866-4D48-80D7-E9EB551C7BF8</key>
		<dict>
			<key>note</key>
			<string>Define filename</string>
			<key>xpos</key>
			<integer>1075</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>1B8C52ED-819B-461A-9DD7-ED6CF2645CF6</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>1DB6F597-B969-44F3-BE60-CD2A6DC973B4</key>
		<dict>
			<key>note</key>
			<string>Clear file Buffer</string>
			<key>xpos</key>
			<integer>1475</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>433CB526-5AF7-4008-A9D8-8FC70ACCE843</key>
		<dict>
			<key>note</key>
			<string>Ask for password</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>510326B8-60F9-42C7-BFAF-D8F0A0B738F3</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>5A56B0CF-E3A7-4238-BE80-03A263900424</key>
		<dict>
			<key>note</key>
			<string>clear previous output</string>
			<key>xpos</key>
			<integer>915</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>6DA74240-FE70-4357-9A24-6B3D1468B41C</key>
		<dict>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>71839266-D285-4ECA-9A84-65FA8AB8EFFC</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>76A6C44C-53D5-4A2D-8EC9-9A4F8146EE9A</key>
		<dict>
			<key>note</key>
			<string>Ask for password</string>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>784D1DF4-C2F4-42E2-965F-203E9410588B</key>
		<dict>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>81B0C5FA-0BE5-41CE-8556-A61D58ED18CD</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>893E5852-FB0F-4B76-A49E-5386547FDB2F</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>98B6046A-63A5-43EE-85E9-876BD832E54E</key>
		<dict>
			<key>note</key>
			<string>Get file and filebuffer</string>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>9FF3581F-6990-44B2-8346-216590962F66</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>A1699FA8-9192-4C09-8BF5-3E05B774A9EA</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>B444A4FF-D758-4969-AB76-213C36379FDF</key>
		<dict>
			<key>note</key>
			<string>Encrypt files</string>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>B9E31560-B1E3-4C4A-B02D-998251F63D83</key>
		<dict>
			<key>note</key>
			<string>Decrypt files</string>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>D2A02B52-49FD-421E-BB03-3D00593A2B75</key>
		<dict>
			<key>note</key>
			<string>Destination</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>D97384AA-AF89-4E02-ADB2-9395A8019ABC</key>
		<dict>
			<key>note</key>
			<string>Source</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>EF68986E-FCFC-4896-9F67-529BC8D5CAAD</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>F904868E-CEC6-4D10-A808-F4CC691411E8</key>
		<dict>
			<key>xpos</key>
			<integer>1635</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>FF98C4E9-F438-4BE3-A6BD-96AB3C2E46F6</key>
		<dict>
			<key>note</key>
			<string>Source</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/gohoyer</string>
</dict>
</plist>
